@model IEnumerable<Intranet.Models.Reclamacao>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Hotel
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.nomeCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.texto)
        </th>
        <th>
            Estado
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hotel.nome)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.nomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.texto)
        </td>
        <td>
            @{
                if (item.aprovado)
                {
                   <text>S</text>
                }
                else
                {
                    <text>N</text>

                }
            }

        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
        </td>
    </tr>
}
</table>
